# Visual Studio
.vs/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
# Rider
.idea/

# User-specific files
*.rsuser
*.venv
*.pytest_cache
__pycache__
/__pycache__
*/__pycache__
**/__pycache__
*src/game/__pycache__/
*src/config/__pycache__/
*spaceinvaders/__pycache__